*{
    transition: 0.05s;
}

html {
    scroll-behavior: smooth;
}

input[type=checkbox] {
    opacity: 0;
}

textarea {
    resize: none;
    height: 200px;
}

.mezera{
    margin-bottom: 5px;
}

.progress{
    height: 25px;
}